.reviewWrapper {
  overflow: auto;
  width: 381.875px;
  padding: 0 15px;
  float: left;
}

.redStar {
  background-color: #D32323;
  width: 16px;
  height: 16px;
  margin: 1px;
  border-radius: 3px;
  float: left;
}

.grayStar {
  background-color: #D5D5D5;
  width: 16px;
  height: 16px;
  margin: 1px;
  border-radius: 3px;
  float: left;
}

.orangeStar {
  background-color: #f15c00;
  width: 16px;
  height: 16px;
  margin: 1px;
  border-radius: 3px;
  float: left;
}

.date {
  margin: 5px;
}

.voteButton {
  width: 92px;
  height: 30px;
  margin: 10px 6px 10px 6px;
  font-weight: bold;
  color: #666;
  border: 1px solid #ccc;
  background: linear-gradient(#fff, #f7f7f7);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  cursor: pointer;
}

.buttonContents {
  padding: 4px;
}

.reviewText {
  min-height: 153px;
  margin: 10px 0;
}

.star {
  color: white;
  font-size: 14px;
  line-height: 16px;
  padding-left: 1px;
}