.reviewWrapper {
  overflow: auto;
  width: 381.875px;
  padding: 0 15px;
  float: left;
}

.redStar {
  background-color: #D32323;
  width: 16px;
  height: 16px;
  margin: 1px;
  border-radius: 3px;
}

.hiddenStar {
  display: none;
}

.date {
  margin: 5px;
}

.voteButton {
  width: 92px;
  height: 30px;
  margin: 10px 6px 10px 6px;
  font-weight: bold;
}

.buttonContents {
  padding: 4px;
}

.reviewText {
  min-height: 153px;
  margin: 10px 0;
}