.feed {
  width: 700px;
  float: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: relative;
}

.title {
  color: #D32323;
  font-size: 21px;
  font-weight: bold;
}

.businessName {
  font-size: 21px;
}

.titleContainer {
  padding-bottom: 8px;
}

.transparentFeed {
  opacity: 0.5;
}

.loadingIcon {
  z-index: 1;
  position: sticky;
  top: 50%;
  left: 350px;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}