.avatar {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  float: left;
  margin-right: 10px;
}

.sideBar {
  float: left;
  width: 217.125px;
  height: 222px;
  padding: 0 15px;
  font-size: 12px
}

.username {
  color: #0073bb;
  font-weight: bold;
  text-decoration: none;
}

.userLocation {
  padding: 5px 0;
  font-weight: bold;
}

.userInfo {
  float:left;
}

.sideBarIcons {
  font-size: 15px;
  margin-right: 5px;
  color: #f15c00;
}

.statContainer {
  height: 16px;
  margin-bottom: 2px;
  display: table;
}

.figures {
  display: table-cell;
  vertical-align: middle;
  line-height: 16px;
  height: 16px;
}